*,
::before,
::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Tema */
:root {
    color-scheme: light dark;
    --bg-color: light-dark(#988A7D, #80726B);
    --bg-color-main: light-dark(#223ccf, #1b2c88);
    --primary-color: light-dark(#0F01AE, #0D019D);
    --primary-color-darker: light-dark(#192349, #141D41);
    --box-shadow-color: light-dark(#090080,#060060);
    --box-shadow-hover: light-dark(#0F192D,#0E152F);
    --text-color: light-dark(#262626, #ededed);
    --text-btn-color: light-dark(#EBECE6, #C3C4BD);
    --border-color: light-dark(#f3f4f6, #292929);
    --content-width: 80rem;
}

body {
  background-image: url(1256952_145169-OTL31U-894.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
}

#main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem;
  max-width: var(--content-width);
  margin: 0 auto;
  gap: 1rem;
}

#nav-title {
    font-size: 4rem;
    background-color: var(--bg-color);
    border-radius: 0.4rem;
    border: 0.1rem solid var(--border-color);
    color: var(--primary-color);
}

#form {
  background-color: var(--bg-color);
  text-align: center;
  padding: 0.2rem;
  border: 0.1rem solid var(--border-color);
  border-radius: 0.1rem;
}

.form-input-container {
  background-color: #80726B;
  text-align: center;
  text-decoration: none;
  border-radius: 0.1rem;
}

#form-input-task {
  background-color: white;
  border-radius: 0.3rem;
  color: black;
}

#form-error-text {
  display: none;
  text-align: start;
  color: #be1515;
}

#form-btn {
  background-color: var(--primary-color);
  border-radius: 0.375rem;
  color: var(--text-btn-color);
  transition: all 1s ease-in-out;
  width: 15rem;
  height: 1rem;
  box-shadow: 0 0.25rem var(--box-shadow-color);
  cursor: pointer;
}

#form-btn svg {
  width: 1rem;
  height: 1rem;
}

#form-btn:hover {
  background-color: var(--primary-color-darker);
  box-shadow: 0 0.25rem var(--box-shadow-hover);
}

#form-btn:active {
  background-color: var(--primary-color);
  box-shadow: 0 0.125rem var(--box-shadow-color);
  transform: translateY(0.125rem);
}

#task-list {
    overflow-x: hidden;
    height: auto;
    width: 50%;
    background-color: var(--bg-color);
    border-radius: 0.5rem ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-wrap: auto;
    list-style-type: none; 
    padding: 0;
    border: 0.1rem solid var(--border-color);
    max-height: 24rem;
  }
        
  .task-item {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.625rem; 
    text-align: center;
    padding: 0.3rem;
    background-color: var(--primary-color-darker) ;
    border: 0.1rem solid var(--border-color);
    color: var(--text-btn-color);
}
  
  .task-delete-btn {
    background-color: var(--primary-color);
    border-radius: 0.375rem;
    color: var(--text-btn-color);
    transition: all 1s ease-in-out;
    min-width: 2rem;
    height: 1rem;
    box-shadow: 0 0.25rem var(--box-shadow-color);
    cursor: pointer;
  }

  .task-delete-btn svg {
    width: 1rem;
    height: 1rem;
  }
  
  .task-delete-btn:hover {
    background-color: #c01515;
    box-shadow: 0 0.25rem #991111;
  }
  
  .task-delete-btn:active {
    background-color: #c01515;
    box-shadow: 0 0.125rem #991111;
    transform: translateY(0.125rem);
  }
  
  .task-text {
    border: 0.1rem solid none;
  }
  
  .task-check-btn {
    background-color: var(--primary-color);
    border-radius: 0.375rem;
    color: var(--text-btn-color);
    transition: all 1s ease-in-out;
    min-width: 2rem;
    height: 1rem;
    box-shadow: 0 0.25rem var(--box-shadow-color);
    cursor: pointer;
  }

  .task-check-btn svg {
    width: 1rem;
    height: 1rem;
  }
  
  .task-check-btn:hover {
    background-color: #008000;
    box-shadow: 0 0.25rem #006600;
  }

  .task-check-btn:active {
    background-color: #008000;
    box-shadow: 0 0.125rem #006600;
    transform: translateY(0.125rem);
  }

  .task-item-completed {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.625rem; 
    text-align:center;
    padding: 0.3rem;
    background-color: #32d332;
    border: 0.1rem solid var(--border-color);
    color: var(--text-color);
  }

  .task-text-completed {
    text-decoration: line-through ;
    border: 0.1rem solid none ;
  }

  #task-counter {
    margin: 1rem 0;
    display: flex;
    gap: 1rem ;
  }

  #task-total {
    background-color: yellow;
    font-size: 1.5rem;
    border-radius: 0.3rem;
    border: 0.1rem solid var(--border-color);
    color: #262626;
  }

  #task-complete {
    background-color: green;
    font-size: 1.5rem;
    border-radius: 0.3rem;
    border: 0.1rem solid var(--border-color);
    color: #262626;
  }

  #task-incomplete {
    background-color: red;
    font-size: 1.5rem;
    border-radius: 0.3rem;
    border: 0.1rem solid var(--border-color);
    color: #262626;
  }

  ::-webkit-scrollbar {
    width: 0.5rem;
  }

  ::-webkit-scrollbar-thumb {
    background-color:var(--primary-color);
    border-radius: 1rem;
  }


  @media (max-width: 768px) {
    #main {
      max-width: 100%;
  }

  #nav-title {
    font-size: 3rem;
  }

  #form {
    font-size: 1rem;
  }

  .form-input-container {
    font-size: 1rem;
  }

  #form-input-task {
    font-size: 1rem;
  }
  
  #form-error-text {
    font-size:1rem;
  }
  
  #task-list {
      width: 100%;
      max-width: 100%;
  }
  
  #task-counter {
    text-align: center;
  }
  
  }